@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roobert';
  src: url('./lib/assets/roobert-regular.woff2');
}

*,
body,
html,
p,
button {
  cursor: url('/cursor/miro-normal.png'), auto;
}
.button-yes:hover {
  cursor: url('/cursor/miro-happy.png'), auto;
}
.button-no:hover {
  cursor: url('/cursor/miro-sad.png'), auto;
}
